h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--main-text-color);
  line-height: 1.2;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.logo,
.link,
.nav__link,
.contact__link,
.footer__contact-link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --hero-footer-color: #2f303a;
  --main-background: #ffffff;
  --section-background: #f5f4fa;
  --button-hover: #188ce8;
  --span-header: #000000;
  --fill-icon: #afb1b8;
}

.modal-btn {
  display: block;
  margin: auto;
  color: var(--main-background);
  background-color: var(--accent-text-color);
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--button-hover);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo {
  width: 134px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  color: var(--accent-text-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 145px;
    font-size: 26px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  padding: 40px;
  border-color: var(--main-background);
  background-color: var(--main-background);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px 6px;
  outline: none;
  cursor: pointer;
}

.modal-close-btn:hover .modal-close-icon, .modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-text-color);
}

.modal-close-icon {
  fill: var(--span-header);
}

.text-modal-form {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.form-name-icon,
.form-tel-icon,
.form-email-icon {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus, .modal-form-input:hover {
  outline: none;
  border-color: var(--accent-text-color);
}

.icon-form {
  position: absolute;
  top: 11px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comments {
  display: inline-block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comments:focus, .modal-form-comments:hover {
  outline: none;
  border-color: var(--accent-text-color);
}

.modal-form-comments::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comments:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comments::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input:focus + .icon-form,
.modal-form-input:hover + .icon-form {
  fill: var(--accent-text-color);
}

.checkbox-form-user-agreement {
  display: inline-block;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03;
}

@media screen and (min-width: 1200px) {
  .checkbox-form-user-agreement {
    font-size: 14px;
    line-height: 1.7;
  }
}

.checkbox-form-user-agreement::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
  vertical-align: middle;
  background-size: cover;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label__span {
  color: var(--accent-text-color);
}

.form-user-agreement {
  width: 16px;
  height: 15px;
}

.form-user-agreement:checked + .checkbox-form-user-agreement::before {
  background-image: url(../images/checkbox/Vector1.svg);
  background-color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.form-user-agreement:focus + .checkbox-form-user-agreement::before,
.form-user-agreement:hover + .checkbox-form-user-agreement::before {
  border-color: var(--accent-text-color);
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 32px;
    margin-bottom: 50px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 206px;
  height: 44px;
  margin: 0 auto;
}

.social__icon {
  fill: var(--fill-icon);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-background);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-text-color);
}

.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--main-background);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .filter {
    width: 362px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn-filter {
  background-color: var(--section-background);
  color: var(--title-text-color);
  font-weight: 500;
  text-align: center;
  line-height: 1.6;
  cursor: pointer;
  border-style: none;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter:hover, .btn-filter:focus {
  background-color: var(--accent-text-color);
  color: var(--main-background);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav__link {
    color: var(--title-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: var(--accent-text-color);
  }
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact__icon {
    margin-right: 8px;
    fill: currentColor;
  }
  .contact__link {
    color: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--accent-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
  }
  .contact__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--accent-text-color);
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-background);
  overflow: auto;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__container {
  padding-left: 25px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__contact {
  margin-bottom: 62px;
}

.mobile-menu__contact-link1 {
  font-size: 34px;
  color: var(--accent-text-color);
}

.mobile-menu__contact-link2 {
  color: inherit;
  font-size: 24px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__link {
  font-size: 40px;
  color: var(--title-text-color);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-text-color);
}

.mobile-menu__nav {
  margin-bottom: 302px;
}

.mobile-menu__close-btn:hover .modal-close-icon, .mobile-menu__close-btn:focus .modal-close-icon {
  fill: var(--accent-text-color);
}

.mobile-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__social {
  max-width: 357px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu__social-link {
  color: var(--accent-text-color);
  font-size: 18px;
  letter-spacing: 0.02;
}

.mobile-menu__social-list:not(:last-child)::after {
  content: "";
  background-color: rgba(33, 33, 33, 0.2);
  width: 1px;
  height: 22px;
  float: right;
  margin-left: 10px;
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-background);
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin: 24px 93px 25px 0px;
  }
}

.header__span {
  color: var(--span-header);
}

.header__mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.header__mobile-menu-btn:hover .header__mobile-menu-icon,
.header__mobile-menu-btn:focus .header__mobile-menu-icon {
  fill: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .header__mobile-menu-btn {
    display: none;
  }
}

.header__mobile-menu-icon {
  fill: #000;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .active {
    color: var(--accent-text-color);
    position: relative;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 46px;
    left: 0;
    background: var(--accent-text-color);
    border-radius: 2px;
  }
}

.hero {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/Hero-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Hero-mobile.jpg");
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/Hero-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/Hero-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Hero-tablet.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/Hero-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/Hero-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Hero-desktop.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/Hero-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Hero-desktop@2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .hero {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  max-width: 360px;
  color: var(--main-background);
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.6;
  margin: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3;
    font-weight: 900;
    letter-spacing: 0.06em;
    margin: 0 auto 30px auto;
    max-width: 696px;
  }
}

.feature {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .feature__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.feature__group {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .feature__group {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__group {
    width: 270px;
  }
}

.feature__icon {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  margin-bottom: 30px;
  background-color: var(--section-background);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .feature__icon {
    padding: 25px 190px;
  }
}

@media screen and (min-width: 768px) {
  .feature__icon {
    padding: 25px 142px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 100px;
  }
}

.feature__icon-item {
  margin: auto;
}

.feature__title {
  font-size: inherit;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}

.feature__text {
  margin-bottom: 30px;
  line-height: 1.7;
}

.our-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.example {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
}

.example .text-work {
  width: 370px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  color: var(--main-background);
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.section-team {
  background-color: var(--section-background);
}

@media screen and (min-width: 768px) {
  .members {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.members__cards {
  background-color: var(--main-background);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .members__cards:not(:last-child) {
    margin-bottom: 30px;
  }
}

.members__photo {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .members__photo {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .members__photo {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .members__photo {
    width: 270px;
  }
}

.members__name {
  color: var(--title-text-color);
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.members__role {
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
}

.clients {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

@media screen and (min-width: 768px) {
  .clients {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 210px;
  height: 92px;
  border: 1px solid var(--fill-icon);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    padding: 16px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-text-color);
}

.clients__link:hover .clients__svg, .clients__link:focus .clients__svg {
  fill: var(--accent-text-color);
}

.clients__svg {
  fill: var(--fill-icon);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--hero-footer-color);
}

@media screen and (min-width: 768px) {
  .footer__logo {
    display: block;
    margin-left: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin: 0;
  }
}

.footer__span {
  color: var(--main-background);
}

.footer__container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 768px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    vertical-align: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    width: 1200px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: left;
  }
}

.footer__address {
  text-align: center;
  margin: 20px auto;
  width: 231px;
}

@media screen and (min-width: 768px) {
  .footer__address {
    display: block;
    margin-left: 61px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    margin-left: 0;
    margin-bottom: 0;
    text-align: left;
  }
}

.footer__address-text {
  font-style: normal;
  color: var(--main-background);
  line-height: 1.7;
  margin-bottom: 9px;
}

.footer__contact {
  margin-bottom: 9px;
}

.footer__contact-link {
  font-style: normal;
  line-height: 1.7;
  color: inherit;
}

.footer__social {
  display: block;
  width: 206px;
  margin: 60px auto;
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-left: 165px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer__social-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__social-title {
    text-align: left;
  }
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__form {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .footer__form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    width: 570px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

.footer__form-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--main-background);
  margin-bottom: 20px;
}

.footer__form-email {
  width: 100%;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: inherit;
  color: var(--main-background);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
}

.footer__form-email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer__form-email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer__form-email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer__form-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .footer__form-email {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-email {
    width: 340px;
    margin-right: 12px;
  }
}

.footer__form-btn {
  text-align: left;
  width: 200px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.8;
  font-weight: 700;
  padding: 10px 28px;
  letter-spacing: 0.06em;
  position: relative;
  background-color: var(--accent-text-color);
  color: var(--main-background);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-style: none;
  cursor: pointer;
}

.submit-icon {
  position: absolute;
  right: 28px;
  top: 10px;
  fill: var(--main-background);
}

.footer__icon {
  fill: var(--main-background);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
  letter-spacing: 0.06em;
}

.project-type {
  font-size: 16px;
  line-height: 1.8;
}

@media screen and (min-width: 768px) {
  .portfolio-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    grid-gap: 0;
  }
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  min-height: 100%;
  width: 100%;
  font-weight: 400;
  top: 0;
  right: 0;
  padding: 24px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-background);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  overflow: auto;
}

@media screen and (min-width: 480px) {
  .overlay {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding: 63px 24px;
  }
}

.text-card {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.card-item {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .card-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card-item {
    width: 370px;
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.card-item:hover, .card-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-item:hover .overlay, .card-item:focus .overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

@media screen and (max-width: 767px) {
  .card-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card-photo {
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */