.logo {
  width: 134px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  color: var(--accent-text-color);

  @media screen and(min-width: 1200px) {
    width: 145px;
    font-size: 26px;
  }
}
