.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 206px;
    height: 44px;
    margin: 0 auto;
  
      &__icon {
        fill: var(--fill-icon);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
}
.social__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-background);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: var(--accent-text-color); 
      
        .social__icon {
          fill: var(--main-background);
        }
      }  
}
  
    