h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--main-text-color);
  line-height: 1.2;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.list {
    list-style: none;
  }
.logo,
.nav__link,
.contact__link,
.footer__contact-link {
  text-decoration: none;
}