:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --hero-footer-color: #2f303a;
    --main-background: #ffffff;
    --section-background: #f5f4fa;
    --button-hover: #188ce8;
    --span-header: #000000;
    --fill-icon: #afb1b8;
  }